<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrumagon.speedrunaa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpeedRunAA">
        <activity
            android:name=".ayuda_activity"
            android:exported="false" />
        <activity
            android:name=".tutoriales"
            android:exported="false" />
        <activity
            android:name=".menu_speedrun"
            android:exported="false" />
        <activity android:name=".SpeedRunTimer" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".TimerService" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>